.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid rgba(214, 211, 211, 0.589);
    background-color: rgb(235, 231, 231);
    justify-content: center;
    align-items: center;
    top: 55px;
    right: 33px;
    z-index: 100;
    border-radius: 7px;
    box-shadow: grey;
  
    .cart-items {
      height: 295px;
      width: 95%;
      display: flex;
      flex-direction: column;
      
      overflow-y: scroll;
    }
    .cart-message{
      height: 250px;
      font-weight: 700;
      font-size: 1.5em;
      padding: 80px 40px;
      text-align: center;      
      
    }
    button {
      margin: 7px 0 3px 0;
    }
  }
  